<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CompMonitor10.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CompMonitor10.Settings1>
            <setting name="ComPortNbr" serializeAs="String">
                <value>COM4</value>
            </setting>
            <setting name="ComPortSpeed" serializeAs="String">
                <value>38400</value>
            </setting>
        </CompMonitor10.Settings1>
    </userSettings>
</configuration>